@media only screen and (max-width: 800px) {

    html {
        margin: 0;
        width: 100%;
    }
    
    body {
        margin: 0;
        background-image: url('../IMAGES/back-splash.PNG');
        background-size: contain;
        background-position: bottom;
        background-repeat:repeat;
        background-attachment: scroll;
        background-color: rgb(20, 20, 20);
    }

    
    header {
        margin: 0;
        background-color: rgba(0, 0, 0, 0.95);
        width: 100%;
        display: block;
        position: fixed;
        padding-bottom: 4%;
        top: 0;
        z-index: +9999;
    }
    
div.banner > img {
    width: 100%;margin: 0;
    padding: 0;
}
    
    div.mobile-warning {
        display: none;
    }
    
    p#popup-notice {
        display: none;
        text-align: center;
        background: -webkit-linear-gradient(45deg, rgba(222,0,0,1) 0%, rgba(46,0,255,1) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 4vw;
        width: 80%;
        margin-left: 10%;
        font-family: 'Jura', sans-serif;
    }

    form {
        width: 80%;
        margin-top: 5%;
        margin-left: 8%;
    }

    form > label {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        color: white;
        font-size: 4vw;
        font-family:  'Titillium Web', sans-serif; 
    }

    form > input#form-submit {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        margin-bottom: 2%;
        padding: 2%;
        padding-left: 0;
        color: rgb(255, 255, 255);
        font-size: 4vw;
        transition: 2s ease-in-out;
        font-family:  'Titillium Web', sans-serif; 
    }

    form > input#form-submit:hover {
        cursor: pointer;
    }

    select#roads {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        border-bottom: 1px solid rgb(44, 44, 44);
        margin-bottom: 2%;
        background: -webkit-linear-gradient(#eee, #333);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-decoration: none;
        font-size: 4vw;
        font-family:  'Titillium Web', sans-serif; 
    }

    select#quantity {
        background-color: rgba(0, 0, 0, 0);
        border: none;
        border-bottom: 1px solid rgb(44, 44, 44);
        margin-bottom: 2%;
        background: -webkit-linear-gradient(#eee, #333);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-decoration: none;
        font-size: 4vw;
        font-family:  'Titillium Web', sans-serif; 
    }

    /* Comment out button styling. It is not in use.
    div.report-button > button {
        color: white;
        background-color: rgba(0, 0, 0, 0.233);
        border: 1px solid white;
        padding: 2%;
        border-radius: 0;
        margin-bottom: 5%;
        margin-top: 5%;
        font-family: 'Jura', sans-serif;
        font-size: 4vw;
        position: relative;
        display: block;
        width: 50%;
        transition: 2s ease-in-out;
        left: 25%;
        text-align: center;
    }

    button:hover {
        cursor: pointer;
    }
    
    div.report-button > button:focus {
        outline: none;
    }
    
            div.report-button > button:disabled {
                        color: rgb(73, 73, 73);
                        background-color: rgba(24, 24, 24, 0.658);
                        border: 1px solid rgb(77, 77, 77);
                        padding: 2%;
                        border-radius: 0;
                        margin-bottom: 7%;
                        margin-top: 7%;
                        font-family: 'Jura', sans-serif;
                        font-size: 4vw;
                        position: relative;
                        display: block;
                        width: 50%;
                        left: 25%;
                        text-align: center;
                    }
    */
    
    div.live-fade-in > p {
        color: rgb(255, 255, 255);
        font-size: 5vw;
        padding: 4%;
        padding-top: 0;
        padding-left: 0;
        text-align: left;
        margin: 0;
        font-weight: 100;
        position: fixed;
        top: 2%;
        z-index: +9999;
        right: 0;
        display: none;
        font-family: 'Economica', sans-serif;
        font-style: italic;
        animation-name: live;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
    
            @keyframes live {
                    from {opacity: 0%;}
                    to {opacity: 100%;}
                    
                }
    
    div.icon-legend {
        display: block;
        margin-top: 7%;
        margin-bottom: 7%;
        width: 95%;
    }
    
    div.icon-legend > span#counter-ticker {
        display: block;
        position: relative;
        width: 60%;
        margin-left: 20%;
        text-align: center;
        color: white;
        font-size: 4vw;
        font-family: 'Titillium Web', sans-serif;
    }
    
    div.main-feed {
        margin-top: 5%;
        width: 90%;
        margin-left: 5%;
        display: block;
    }
    
    div.main-feed > h1#main-feed-title {
        font-family: 'Titillium Web', sans-serif;
        text-align: left;
        color: white;
        font-size: 7vw;
        font-weight: 200;
    }

    #thermo {
        background: -webkit-linear-gradient(45deg, rgba(222,0,0,1) 0%, rgba(46,0,255,1) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    div.hotspot-blocks {
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        color: white;
        font-family: 'Titillium Web', sans-serif;
        margin-left: 0;
        display: block;
        margin-top: 5%;
        position: relative;
        margin-bottom: 1%;
    }
    
    div.hotspot-blocks > h1, h3 {
            padding-left: 3%;
            margin-top: 0;
            margin-bottom: 0;
    }

        #map {
            margin-top: 10%;
            display: none;
            height: 400px;
            width: 80%;
            margin-left: 10%;
            border: 3px solid black;
          }

          p#user-latlong {
            color: white; 
            background: rgb(222,0,0);
            text-align: center; 
            font-family:  'Titillium Web', sans-serif; 
            font-weight: 400; 
            font-size: 5vw;
            display: block;
            padding-top: 1%;
            padding-bottom: 1%;
            margin-top: 0;
            margin-bottom: 0;
            position: absolute;
            bottom: 0%;
            width: 100%;
            animation-name: spizy;
            transition: 2s ease-in-out;
            animation-duration: 5s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
          }

                            @keyframes spizy {
                                0% {background-color: red;}
                                25% {background-color: rgb(255, 0, 128);}
                                50% {background-color:rgb(212, 0, 255);}
                                75% {background-color:rgb(111, 0, 255);}
                                100% {background-color:rgba(46,0,255);}
                            }



    
    footer {
        background-color: black;
        margin-top: 15%;
    }
    
    footer > ul.footer-list {
        padding-top: 10%;
        padding-left: 0;
        list-style-type: none;
    }
    
    footer > ul > li {
        margin-top: 8%;
        margin-bottom: 8%;
        list-style-type: none;
    }
    
    footer > ul > li > a {
        text-decoration: none;
        padding: 2%;
        font-size: 7vw;
        color: white;
        font-family: 'Titillium Web', sans-serif;
    }
    
    footer > img {
        width: 30%;
        margin-left: 35%;
        margin-bottom: 7%;
        margin-top: 10%;
    }

    footer > ul.footer-list > ul {
        list-style-type: none;
    }
    
    footer > ul.footer-list > ul > li#disclaimer-footer {
        text-decoration: none;
        color:rgb(255, 255, 255);
        font-family: 'Titillium Web', sans-serif;
        font-size: 4vw;
        width: 95%;
        margin-left: 0;
    }

    





    }